/* css */
html, body {
    color: 	#555555;
    margin: 0;
    padding:0;
    height: 100%;
    overflow: hidden;
}

.header {
    height:80px;
}

.navclass {
    line-height: 42px;
    margin-left: 1143px;
    width: 120px;
    height: 55px;
    word-spacing: 20px;
}

.navclass > a {
    height:30px;    
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}  

.navbar { 
    height: 48px;
    line-height: 48px;
    width: 80px;
    margin-left: 1266px;
    margin-top: -50px;
    word-spacing: 10px;
}

.navbar > a {
    display: inline-block;
    height:45px;    
    line-height: 45px;
    color: 	#555555;  
}

.github {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}

.logos {
    width: 100%;
    height: 100px;
    text-align: center;
}

.icon {
    margin-left: 14px;
    color: #A9A9A9;
    font-size: 14px;
}

.searchbox {
    border: 1px solid #dcdcdc;
    margin: 0 auto;
    border-radius: 25px;
    width: 580px;
}

input {
    height: 40px;
    width: 480px;
    margin-left: 10px;
    outline: 0px solid transparent;
    border: 1px solid transparent;
}

.voice {
    display: inline-block;
    height:30px;
    width:42px;
    text-align: center;
}

#voiceimg {
    position: relative;
    top: 5px;
    text-align: center;
}

.forminput {
    height: 60px;
    width: 100%;
}

.clickbuttons {
    margin: 0 auto;
    width:100%;
    text-align: center;
    height: 176px;
}

.searchme {
    background-color: #F5F5F5;
    height: 35px;
    width: 130px;
    border: 0px solid transparent;
    color: #555555;
    cursor:pointer;
    border-radius: 3px;
}

.searchme:hover {
    background-color: #F5F5F5;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

#lang {
    color: black;
    font-size: 14px;
    margin-top: 30px;
}

#lang > a {
    color: #333399;
    display: inline-block;
    padding: 3px;
}

#lang > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    border: 1px solid #F5F5F5;
    color: #808080;
    background-color: #F5F5F5;
    height: 100px;
    width: 100%;
   
}

#location {
    display: inline-block;
    width: 100%;
    margin-left: 25px;
}


#divider {
    width: 100%;
    border: none;
    height: 1px;
    background-color:#dcdcdc;
    margin-top: -1px;
}

.terms > a {
    float: right;
    margin-right: 30px;
    margin-top: 7px;
}

.services > a {
    float: left;
    margin-left: 25px;
    margin-top: 7px;
}

.services > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.terms > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Handles browsers of certain max-width(o) */
@media screen and (max-width: 1326px) {
    .navclass {
        margin-left: 1110px;
    }

    .navbar { 
        margin-left: 1230px;
    }

    .footer {
        margin-top: 1px;
    }
}


@media screen and (max-width: 1366px) and (min-height: 654px) {
    .footer {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1366px) and (max-height: 609px) {
    .footer {
        margin-top: -28px;
    }
}

/* handheld mobiles*/
@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
        max-height: 100%;
    }
    .navclass {
        margin-left:60%;
    }

    .navbar { 
        margin-left:85%;
    }
    
    input {
        width: 50%;
    }
    
    .searchbox {
        width: 400px;

    }

    .clickbuttons {
        height:60px;
        margin-top: -50px;
    }

    .voice {
        margin-left: 90px;
    }
    
    .footer {
        height: 160px;
        margin-top: 50px;

    }

    
}
